#encoding: utf-8

<h1>Registro de Estudiantes al CCA, UNAM</h1>

<h2 style="width:700px;text-align:justify;font-size:95%;">Nuestros
  académicos imparten cursos en distintos programas de nivel
  licenciatura y posgrado dentro de la UNAM. Algunos de estos cursos
  se imparten en las instalaciones del CCA.  Es requisito
  indispensable el registro de los estudiantes que asisten de manera
  regular a nuestras instalaciones para tomar cursos o que asisten con
  algún académico para servicio social o tesis.  Para registrarse es
  necesario contar con credencial de la UNAM con código de barras.</h2>

<%= render 'form', student: @student %>

<%= link_to 'Back', students_path %>
