<h1>Editar entrada de estudiante</h1>

<div align="center">
  <p class="medium">
    No es posible editar una entrada de estudiante. Este intento será reportado.
  </p>
</div>

<%= link_to 'Back', student_entries_path %>
