<h1>Nueva entrada de estudiante</h1>

<div align="center">
  <p class="medium">
    No es posible crear una entrada nueva de estudiante. Este intento será reportado.
  </p>
</div>

<%= link_to 'Back', student_entries_path %>

