// Place all the styles related to the StudentEntries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bigname {
    font-size: 39px;
    font-weight: bold;
    color: #000000;
}

.bigname2 {
    font-size: 31px;
    font-weight: bold;
    color: green;
}
.mediumname {
    font-size: 23px;
    font-weight: bold;
    color: #000000;
}
.mediumname2 {
    font-size: 23px;
    font-weight: bold;
    color: red;
}
